* { /*estas bloque eliminan bordes y rellenos que son estandar para todos los navegadores */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

body{ 
    background-image: linear-gradient(to right top, #000000, #3b3b3b, #777777, #b9b9b9, #ffffff);
    display: grid;
    grid-template-columns:repeat(5,auto);/*particion de 5 columnas para nuestro pagina web*/
    grid-template-rows: repeat(5,auto);/*particion de nuestro sitio web en 5 filas*/
    column-gap: 20px; /*separacion entre columnas de 20 pixeles*/
    row-gap: 20px; /*separacion entre filas de 20 pixeles*/
    margin-inline: 20px 20px;/*introduce una margen en el lado izquierdo y derecho de toda la pagina*/
    margin-block: 20px 20px; /*introduce una margen arriba y abajo de toda la pagina la pagina*/
    font-size: 18px;/*implementacion de un tipo de letra mas grande para el sitio web*/
    
}

.logo{
    
   width: 140px;/*tamaño del logo*/
   height: 115px;
   filter: brightness(1.1);/*quita el brillo de la imagen*/
   mix-blend-mode: multiply;/*retira el fondo blanco de la imagen haciendo que el logo se mezcle con el fondo que esta detras de el*/
    
}
.titulo {
    text-align: center; /*alineacion del titulo en el centro */
    grid-column: 1/5; /* tamaño del titulo en la cantidad de columnas que tomaria todo el tamalño de la pagina web*/
    grid-row: 1/2; /*Tamaño del titulo va entre la fila 1 y la fila 2*/
    padding-block-start: 35px;/*Espacio entre la parte de arriba y el titulo*/
}

.seccion{
    background-color:white;
    grid-column: 1/4;/*tamaño de la etiqueta seccion va entre la columna 1 y la columna 4*/
    grid-row: 3/5;/*tamaño de la etiqueta seccion va entre la fila 3 y la fila 5 */
    border: 2px solid black; /*demarcacion con un borde para la etiqueta seccion*/
    padding: 30px; /*creacion de una relleno en todos los sentidos para la etiqueta seccion*/
    min-width: 930px; /*tamaño minimo a la ancho de la seccion */
    min-height: 330px;/*tamaño nimimo a lo alto de la seccion esto con el fin de que siempre tenga el minimo tamaño de altura*/
    
    
}
h2{
    text-align: center; /*alineacion de los titulos tipo h2*/
    padding-block-start: 20px;
    padding-block-end: 30px;
    
}
h3{
    text-align: center;
    padding-block-start: 20px;
    padding-block-end: 30px;
}
.aside{
    background-color: white;
    grid-column: 4/6;
    grid-row: 3/5;
    border: 2px solid black;
    padding-block-start: 40px;
    padding-inline-start: 10px;
    padding-inline-end: 10px;
    
    
    

}

.footer {
    background-color:black;
    color: white;
    grid-row: 5/6;
    grid-column: 1/6;
    display: grid;
    grid-template-columns: repeat(3,auto);
    text-align: center;
    gap: 30px;
    padding: 20px;
    border: 2px solid grey;
}

.navegador {
    background-color: black;
    grid-column: 1/6;
    padding: 20px;
    border: 2px solid grey;
    
}

.navegador a:hover{ /* cambia de color cuando ponemos el puntero sobre una opcion del navegador*/
    color: red;
}
.navegador a:active{  /* cambia de color cuando damos click en la opcion del navegador*/
    color: yellowgreen;
}

.navegador ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(5,auto);
    
    

}
.navegador a{
    text-decoration: none;
    color: white;
    
    
}
.navegador li{
    position: relative;
    width: 100%;
    text-align: center;
}
.nav-ul2 li{
    position: relative;
    display: none;
    background-color: black;
    grid-column: 1/6;
    top: 10px;
    padding: 10px;
}
.navegador li:hover .nav-ul2>li {
    display:grid;
 }
.nav-ul2{
    position: absolute;
    width: 100%;
}
.img-{
    max-width: 800px;
    max-height: 400px;
    display: block;
    margin: auto;
    border: 3px solid black;
      
}
.iframe{
    width: 340px;
    min-height: 520px;
    max-height: auto;
    
}

.audio{
    background-color: black;
    border: solid red 2px;
    display: block;
    margin: auto ;
    margin-top: 30px;
   
}

